<div class="project-modal-container future-layout">
    
    <div class="project-text-col">
        <div class="project-meta">
            <span>Graphic Designer</span>
            <span class="separator"></span>
            <span>Cosmetics Co.</span>
        </div>

        <h1 class="project-headline">Curators of health & beaty</h1>
        
        <div class="project-body-grid">
            <ul class="project-services-list">
                <li>Visual Identity</li>
                <li>Brand Design</li>
                <li>Packaging</li>
                <li>Art Direction</li>
                <li>Social Media</li>
            </ul>   

            <div class="project-description">
                <p>Joined a cosmetics company as a Graphic Designer, focusing on Products, Social media & E-Commerce.</p>
                
                <p>Refreshed Branding - Changed the logo, tone & style to a playful, minimal, colorful & modern direction.</p>
                <p>Logo Refreshed: Added a modern refreshed serif (Playfair Display), similar enough to the previous choice (Times New Roman), but providing so much more personality and elegance. Together with sophisticated seasonal color applications, the brand is dynamic, fresh and exiting.</p>
                <p>Visual System Overhaul: I deployed a clean, modernist approach to all marketing materials, based on Swiss Style, keeping the visuals simple, fluid, and elegant. Think of it as refactoring their entire visual library, which was early 2000s infomercial.</p>
                <p>Scalable Product Architecture: They had so many products, in inconsystent styles, colors & even industries. I cleaned up what cold be changed, created distinct color coded categories for each, while ensuring they all fit together in a cohesive whole. I take pride in building systems, not just one-off assets.</p>
                <p>Motion-Forward Content: I forced an emphasis on motion in video ads, highlighting product function, health benefits & distinctive packaging. Static content is not enough!</p>
                <p>Improved Product Photography: Most pictures were janky, low resolution & poorly rendered mockups. I set up a proper set and started taking delious product photos, got friends to model & act for me and lead great digital advertising campaigns.</p>
            </div>
        </div>
    </div>

    <div class="project-gallery-col">
        <figure class="gallery-item">
            <img src="https://placehold.co/600x800/F48F6E/white?text=Brand+Overview" alt="Brand Overview">
        </figure>
        
        <figure class="gallery-item">
            <img src="https://placehold.co/600x800/white/044da6?text=Packaging+Detail" alt="Packaging Detail">
        </figure>
        
        <figure class="gallery-item">
            <img src="https://placehold.co/600x600/044da6/white?text=Campaign+Visual" alt="Campaign Visual">
        </figure>
    </div>

</div>