<div class="project-modal-container future-layout">

    <div class="project-text-col">
        <div class="project-meta">
            <span>Web Designer</span>
            <span class="separator"></span>
            <span>Boutique Design Agency</span>
        </div>


        <div class="project-body-grid">
            <div class="project-description">
                <p>Joined a team focused on establishing a premium boutique agency. I focused on:</p>
                <p>Initial agency branding & website creation, classical typography, minimalist colors.</p>
                <p>Customer outreach, communication, client conversion & custom solutions.</p>
                <p>Brand & Web Development, Advertising, Style Guides.</p>
                <p>Usability testing, crafting intricate User Experiences.</p>
                <p>I explored a wide range of no-code to low code website builders like Webflow, Framer, and Figma Code. They were great to start with but limiting in the long run.</p>
            </div>
        </div>
    </div>

    <div class="project-gallery-col">
        <figure class="gallery-item">
            <img src="/images/veoma.png" alt="Veoma project image 1">
        </figure>

        <figure class="gallery-item">
            <img src="/images/veoma.webp" alt="Veoma project image 2">
        </figure>

        <figure class="gallery-item">
            <img src="/images/veo.webp" alt="Veoma project image 3">
        </figure>
    </div>

</div>
