<div class="project-modal-container future-layout">

    <div class="project-text-col">
        <div class="project-meta">
            <span>UI/UX Designer</span>
            <span class="separator"></span>
            <span>Indie Game Studio</span>
        </div>

        <div class="project-body-grid">
            <div class="project-description">
                <p>A video game studio with a narrative bent. I joined the small team and instantly started wearing multiple hats, learning on the fly & contributing across the board.</p>
                <p>I joined to create understandable & expected User Interfaces for video games.</p>
                <p>Got interested in the full Player Experience, contributed to video game stories, pacing, unlocks and skill progression, playtesting every build and conducting playtest groups.</p>
                <p>Expanded to asset creation, drawing pixels and scavenging for the perfect texture to bring the world to life.</p>
                <p>Designed the website & played around with the brand until landing on the perfect system.</p>
            </div>
        </div>
    </div>

    <div class="project-gallery-col">
        <figure class="gallery-item">
            <img src="/images/vfns.png" alt="VFNS project image 1">
        </figure>

        <figure class="gallery-item">
            <img src="/images/vfweb.png" alt="VFNS project image 2">
        </figure>

        <figure class="gallery-item">
            <img src="/images/doc.png" alt="VFNS project image 3">
        </figure>
    </div>

</div>